aioredis==1.3.1
alabaster==0.7.12
altgraph==0.16.1
amqp==1.4.9
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
anyjson==0.3.3
appdirs==1.4.0
asgiref==3.2.3
asn1crypto==0.24.0
astroid==2.3.3
astropy==3.2.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.2.0
Authlib==0.13
autobahn==20.4.3
Automat==20.2.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.4
beautifulsoup4==4.6.0
betterpath==0.2.2
billiard==3.3.0.23
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
CacheControl==0.12.5
cachetools==3.1.0
celery==3.1.26.post2
certifi==2019.9.11
cffi==1.11.5
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
chicken==0.1.0
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
cms==0.0.2
codegen==1.0
colorama==0.4.1
conda==4.8.2
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
config==0.5.0.post0
confusable-homoglyphs==3.2.0
constantly==15.1.0
contextlib2==0.6.0
covid19-cli==1.0.3
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
daphne==2.5.0
dash==1.10.0
dash-core-components==1.9.0
dash-html-components==1.0.3
dash-renderer==1.3.0
dash-table==4.6.2
dask==2.5.2
dateparser==0.7.2
decorator==4.4.0
defusedxml==0.5.0
deploy-to-heroku==0.0.1
diff-match-patch==20121119
distributed==2.5.2
dj-database-url==0.5.0
Django==3.0.5
django-admin-charts==0.17.0
django-admin-tools==0.9.0
django-allauth==0.37.1
django-background-task==0.1.8
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==12.0.3
django-bootstrap4==1.1.1
django-bower==5.2.0
django-celery==3.3.1
django-cleanup==4.0.0
django-configurations==2.2
django-cors-headers==2.4.0
django-countries==5.3.3
django-crispy-forms==1.8.0
django-debug-toolbar==2.1
django-discover-runner==1.0
django-extensions==2.2.8
django-filter==2.2.0
django-formtools==2.1
django-grappelli==2.14.1
django-heroku==0.3.1
django-jquery==3.1.0
django-jsonfield==1.4.0
django-model-utils==3.2.0
django-modelcluster==5.0.1
django-multiselectfield==0.1.12
django-mysql-pymysql==0.1
django-nvd3==0.9.7
django-plotly-dash==1.3.1
django-qsstats-magic==1.1.0
django-registration==3.1
django-rest-auth==0.9.3
django-role-permissions==2.2.1
django-sb-admin==5.5.1.1
django-storages==1.9.1
django-summernote==0.8.11.6
django-taggit==1.2.0
django-treebeard==4.3.1
django-uuidfield==0.5.0
django-widget-tweaks==1.4.5
djangocms-admin-style==1.5.0
djangorestframework==3.10.1
djcacheutils==3.0.0
dlib==19.19.0
dnspython==1.16.0
docutils==0.15.2
dpd-components==0.1.0
draftjs-exporter==2.1.7
drf-firebase-authentication==1.0.1
egg==0.2.0
entrypoints==0.3
et-xmlfile==1.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-factory==9999.9.9
Faker==2.0.4
fastcache==1.1.0
fcm-django==0.2.21
filelock==3.0.12
firebase-admin==3.0.0
Flask==1.1.1
Flask-Compress==1.4.0
fsspec==0.5.2
future==0.17.1
gcloud==0.17.0
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.26.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpcio==1.20.1
gunicorn==20.0.4
h5py==2.9.0
hashids==1.2.0
HeapDict==1.0.1
hiredis==1.0.1
html5lib==1.0.1
httplib2==0.11.3
hyperlink==19.0.0
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
imutils==0.5.2
incremental==17.5.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4
jedi==0.15.1
jeepney==0.4.1
jet-bridge-base==0.6.6
jet-django==0.8.9
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
jws==0.1.3
keyring==18.0.0
kiwisolver==1.1.0
kombu==3.0.37
l18n==2018.5
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
Markdown==3.1.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
Menu==3.2.2
misaka==2.1.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
model-mommy==2.0.0
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
mutagen==1.44.0
mysql-connector-python==8.0.19
mysqlclient==1.4.6
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.16.2
numpydoc==0.9.1
oauth2client==3.0.0
oauthlib==2.1.0
odfpy==1.3.6
olefile==0.46
opencv-python==4.0.0.21
openpyxl==2.5.4
packaging==16.8
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
patterns==0.3
pefile==2019.4.18
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
plotly==4.6.0
pluggy==0.13.0
ply==3.11
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.3
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
pusher==2.1.4
py==1.8.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.4.3
pycurl==7.43.0.3
pyfcm==1.4.5
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
PyHamcrest==2.0.2
PyInstaller==3.5
PyJWT==1.7.1
pylint==2.4.4
PyMySQL==0.9.3
PyNaCl==1.3.0
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.1.10
PyPDF2==1.26.0
PyQt5==5.13.2
PyQt5-sip==12.7.0
Pyrebase==3.0.27
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-decouple==3.1
python-firebase==1.2
python-jwt==2.0.1
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
python3-openid==3.1.0
pytils==0.3
pytz==2019.3
PyWavelets==1.0.3
pywin32-ctypes==0.2.0
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
regex==2019.11.1
reportlab==3.5.23
requests==2.22.0
requests-oauthlib==1.0.0
requests-toolbelt==0.7.0
retrying==1.3.3
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
SecretStorage==3.1.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
snowballstemmer==2.0.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.11
sqlparse==0.3.0
statsmodels==0.10.1
stripe==2.27.0
sympy==1.4
tables==3.5.2
tablib==1.1.0
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
tools==0.1.9
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
tzlocal==2.0.0
unicodecsv==0.14.1
Unidecode==1.1.1
Unipath==1.1
uritemplate==3.0.1
urllib3==1.25.7
utility==1.0
vcversioner==2.16.0.0
virtualenv==16.3.0
virtualenvwrapper-win==1.2.5
wagtail==2.8.1
wagtail-model-tools==0.1.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==4.1.2
widgetsnbextension==3.5.1
Willow==1.3
wkhtmltopdf==0.2
wrapt==1.11.2
wurlitzer==1.0.3
xhtml2pdf==0.2.3
xlrd==1.1.0
XlsxWriter==1.2.1
xlwt==1.3.0
xmltodict==0.12.0
zict==1.0.0
zipp==0.6.0
zope.interface==4.7.1
